form.ui.form(action='POST')
  .field
    .ui.labeled.icon.input
      i.at.icon
      input(type='text', placeholder='Email Address')
  .field
    .ui.labeled.icon.input
      i.font.icon
      input(type='text', placeholder='Message Title')
  .field
    textarea(rows='3', placeholder='Enter your Message here')
  .field
    button.ui.right.floated.button
      | Send
