//- Pug Template for default index.html

doctype html

html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= site.title
    //- Stylesheets in Use
    each styles in site.styles
      link(rel='stylesheet' type='text/css' href= styles)

    //- Scripts in Use
    each scripts in site.scripts
      script(type='text/javascript' src= scripts)

  body
    block main-navigation
    block main-page
      include pages/main-page.pug
    block footer
