mixin segment(group, color, attached, model)
  - var segmentType = {};
  - var coloredSegment = {};
  - var attachedSegment = {};
  - var modelSegment = {};

  - segmentType.class = (group === undefined || 'single') ? 'ui segment': 'ui ' + group + ' segments';
  - coloredSegment.class = (color === undefined) ? 'ui segment': 'ui ' + color + ' segment';
  - attachedSegment.class = (attached === undefined) ? 'ui segment': 'ui ' + attached + ' attached segment'
  - modelSegment.class = (model === undefined) ? 'ui segment': 'ui ' + model + ' segment'


  if group === 'horizontal'
    div&attributes(segmentType)
      block


//- Usage

//- example using random parameter
  mixin grid(...style)
      .flex(class=style.join(" "))
          block

  mixin col(width, ...style)
      .col(class="col-" + width + " " + style.join(" "))
          block

  //- Usage
  +grid("border", "p2")
      each column in [ "one", "two", "three", "four"]
          +col(6, "border", "p1", "m1") Column #{column}
