include ../../_mixin.include.pug


main.ui.padded.grid
  block welcome-section
    +section('Welcome', 'red')
      include:markdown-it(html typographer plugins=['markdown-it-decorate']) ../../test.md



  block intro-section
    +section('Intro')
      include ../sections/intro.section.pug
  block company-fields
    +section('Company Fields')
      include ../sections/company-fields.section.pug
  block philosophy
    +section('Philosophy', 'darkgreen middle aligned center aligned')
      include ../sections/philosophy.section.pug
  block team
    +section('Team', 'middle aligned')
      include ../sections/team.section.pug
  block company-service
    +section('Service', 'teal')
      include ../sections/company-service.section.pug
  block company-experience
    +section('Experience', 'flatgold')
      include ../sections/company-experience.section.pug
  block articles
    +section('Publication', 'darkgreen')
      include ../sections/articles.section.pug
  block company-info
    +section-multiple-columns('three', 'darkgreen', 'row')
      include ../sections/company-info.section.pug
