extends ../_kitchen/_templates/default-index.pug


block main-navigation
  header.ui.attached.menu
    nav.menu
      a.item.header
        img(src="images/aio-icon.jpg")
      a.item
        i.home.icon
        | homo



block footer
  include ../_kitchen/_templates/blocks/standard-footer.pug
