h1 {
 color: blue;
}
body {
    padding: 2em !important;
    background-color: #F2F4EF !important;
}


/* Hover Link Underlined */

a {
    position: relative;
    color: #A38528;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.4);
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(163, 133, 40, 0.8);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.text.flatgold,
p.text.flatgold,
span.text.flatgold {
    color: #A38528 !important;
}

.text.white,
p.text.white,
span.text.white {
    color: rgba(255, 255, 255, 0.8) !important;
}
